NODE_ENV=development
APP_PORT=3000

DATABASE_URL="postgresql://myuser:password@localhost:5433/commondb?schema=public"

JWT_SECRET=xxxx
JWT_EXPIRATION=60s

JWT_REFRESH_SECRET=xxxx
JWT_REFRESH_EXPIRATION=30d
